{% load static %}
<html lang="en" class="light-style" dir="ltr" data-theme="theme-default" data-assets-path="{% static "assets" %}" data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <meta name="author" content="Hari prasath(Software Developer)" />
    <meta name="Description" content="This is an ERP platform suitable for every Enterprises that needs highly organized working and also it has major emphasis on Agriculture too">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">        
    
    <!-- Icon and title for the project -->
    <link rel="shortcut icon" href="{% static 'img/Generp.png' %}" type="image/x-icon">
    <title>GenERP - {% block title %} {% endblock %} </title>
    
    <!-- stylesheet using second set of design namely sneat -->
    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
</head>
<body>
    {% block content %}
        

    {% endblock content %}    
  

    

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    {% block javascript %}{% endblock javascript %}
    
    
    
</body>
</html>